@{
  Layout = "_Layout";
}

@model TheArt.Models.Artist

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.ArtistName)?</h2>

@Html.DisplayNameFor(model => model.ArtistName): @Html.DisplayFor(model => model.ArtistName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}

@Html.ActionLink("All artists", "Index")
@Html.ActionLink("Home", "Index", "Home")