@{
  Layout = "_Layout";
}

@using TheArt.Models;
@model TheArt.Models.Piece
<h1> Piece details</h1>
<hr/>
@Html.DisplayNameFor(model => model.PieceName): @Html.DisplayFor(model => model.PieceName)<br>
  |  @Html.DisplayNameFor(model => model.PieceDate): @Html.DisplayFor(model => model.PieceDate)<br>
  |  @Html.DisplayNameFor(model => model.Artist.ArtistName): @ViewBag.Artist
